{% extends "base.html" %}

{% block title %}Edit your users{% endblock %}

{% block content %}
    <h1>Edit your users</h1>
    <p>You can edit your users using the following form:</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{user_form.as_p}}
            {% if user.avatar %}
                <img src="{{ user.avatar.url }}" alt="avatar" style="width: 100px; height: 100px; border-radius: 50%;">
            {% else %}
                <p>No avatar uploaded.</p>
            {% endif %}
        <p><input type="submit" value="Save changes"></p>
    </form>
{% endblock %}