{%extends 'base.html'%}

{%block title%}
Search page
{%endblock%}

{%block content%}
    <h1>Searching for {{search}} </h1>
    {%if search%}
        {%for users in accounts%}
            <h3>
                <a href="{% url 'view_profile' users.id %}">
                    {{users.username}}
                </a>
            </h3>
        {%endfor%}
        {%if not accounts%}
            <h3>No users found..</h3>
        {%endif%}
    {%else%}
        <h3>You forgot to search..</h3>
    {%endif%}
    
{%endblock%}