{% extends "base.html" %}

{%block content%}
    {% if is_self %}
        <h1>Your Profile</h1>
    {%else%}
        <h1>{{username}}'s Profile</h1>
    {%endif%}
    <img src="{{avatar.url}}" alt="Avatar" class="avatar" style="width: 100px; height: 100px; border-radius: 50%;">
    <h2>Email:<h2>
    <h3>{{email}}</h3>

    {% if is_self %}
        <a href="{% url 'edit' %}">Edit your profile</a>
    {% else %}
        <h2>Friendship Type:</h2>

        <h3>
            {%if friendship == 1%}
                Your friend
            {%elif friendship == 2%}
                You sent a friend request
            {%elif friendship == 3%}
                He sent a friend request
            {%elif friendship == 0%}
                Not friends
            {%endif%}
        </h3>
    {%endif%}
    <h3>
        
{%endblock%}